.skill-form{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: teal;
    text-align: left;
    border: 0.2rem solid rgb(160, 185, 184);
    border-radius: 0.3rem;
    padding: 1rem;
}

.skill-form > input{
    font-size: 1rem;
    font-weight: bold;
    color: teal;
    padding: 0.2rem;
    border: 0.2rem solid rgb(123, 95, 215);
    border-radius: 0.3rem;
    outline: none;
}

.skill-form >select{
    font-size: 1rem;
    font-weight: bold;
    color: teal;
    padding: 0.2rem;
    border: 0.2rem solid rgb(123, 95, 215);
    border-radius: 0.3rem;
    outline: none;
}

.skill-form > button{
    grid-column: span 2;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.2rem;
    background-color: rgb(123, 95, 215);
    border: 0.2rem solid rgb(160, 185, 184);
    border-radius: 0.3rem;
}